pip==9.0.1
decorator==4.0.10
contextlib2==0.5.3
anaconda-navigator==1.3.1
click==6.6
scikit-learn==0.17.1
configobj==5.0.6
locket==0.2.0
ruamel-yaml==-VERSION
beautifulsoup4==4.5.1
ipywidgets==5.2.2
rope-py3k==0.9.4.post1
PyYAML==3.12
ipython-genutils==0.1.0
anaconda-client==1.5.1
nb-anacondacloud==1.2.0
nbformat==4.1.0
redis==2.10.5
clyent==1.2.2
nb-conda-kernels==2.0.0
Babel==2.3.4
llvmlite==0.13.0
Bottleneck==1.1.0
blaze==0.10.1
jupyter-client==4.4.0
Werkzeug==0.11.11
lazy-object-proxy==1.2.1
notebook==4.2.3
Pygments==2.1.3
six==1.10.0
jupyter-console==5.0.0
prompt-toolkit==1.0.3
pathlib2==2.1.0
gevent==1.1.2
odo==0.5.0
argcomplete==1.0.0
qtconsole==4.2.1
astropy==1.2.1
traitlets==4.3.0
pyasn1==0.1.9
pytz==2016.6.1
XlsxWriter==0.9.3
scipy==0.18.1
singledispatch==3.4.0.3
wrapt==1.10.6
dill==0.2.5
pycurl==7.43.0
cffi==1.7.0
mpmath==0.19
filelock==2.0.6
psutil==4.3.1
greenlet==0.4.10
jdcal==1.2
tornado==4.4.1
numexpr==2.6.1
pkginfo==1.3.2
pyparsing==2.1.4
cytoolz==0.8.0
unicodecsv==0.14.1
cloudpickle==0.2.1
colorama==0.3.7
numpy==1.11.1
pytest==2.9.2
setuptools==27.2.0
nose==1.3.7
pycosat==0.6.1
pylint==1.5.4
scikit-image==0.12.3
astroid==1.4.7
chest==0.2.3
jsonschema==2.5.1
anaconda-clean==1.0
ipython==5.1.0
openpyxl==2.3.2
pyflakes==1.3.0
wheel==0.29.0
mistune==0.7.3
fastcache==1.0.2
pickleshare==0.7.4
spyder==3.0.0
dynd==0.7.3.dev1
sympy==1.0
pycparser==2.14
docutils==0.12
nbconvert==4.2.0
nb-conda==2.0.0
itsdangerous==0.24
jedi==0.9.0
bitarray==0.8.1
sockjs-tornado==1.0.3
networkx==1.11
pandas==0.18.1
ipykernel==4.5.0
python-dateutil==2.5.3
pyzmq==15.4.0
terminado==0.6
widgetsnbextension==1.2.6
QtPy==1.1.2
requests==2.11.1
xlrd==1.0.0
snowballstemmer==1.2.1
multipledispatch==0.4.8
h5py==2.6.0
toolz==0.8.0
Sphinx==1.4.6
conda-build==2.0.2
cryptography==1.5
tables==3.2.3.1
protobuf==3.1.0.post1
MarkupSafe==0.23
imagesize==0.7.1
Flask-Cors==2.1.2
Pillow==3.3.1
QtAwesome==0.3.3
dask==0.11.0
xlwt==1.1.2
Jinja2==2.8
HeapDict==1.0.0
pycrypto==2.6.1
pyOpenSSL==16.0.0
lxml==3.6.4
Cython==0.24.1
numba==0.28.1
nltk==3.2.1
patsy==0.4.1
nbpresent==3.0.2
SQLAlchemy==1.0.13
jupyter==1.0.0
datashape==0.5.2
chainer==1.18.0
et-xmlfile==1.0.1
matplotlib==1.5.3
jupyter-core==4.2.0
idna==2.1
simplegeneric==0.8.1
path.py==0.0.0
pexpect==4.0.1
ptyprocess==0.5.1
alabaster==0.7.9
bokeh==0.12.2
statsmodels==0.6.1
conda==4.2.9
pep8==1.7.0
Flask==0.11.1
cycler==0.10.0
ply==3.9
wcwidth==0.1.7
boto==2.42.0
py==1.4.31
partd==0.3.6
backports.shutil-get-terminal-size==1.0.0
textblob==0.11.1
recommonmark==0.4.0
arrow==0.10.0
Shapely==1.6.dev0
plotly==1.12.11
pyLDAvis==2.1.0
pystan==2.12.0.0
funcy==1.7.2
update-checker==0.15
numpydoc==0.6.0
mne==0.13.1
vida==0.3
urwid==1.3.1
bz2file==0.98
gdbn==0.1
pytagcloud==0.3.5
tzlocal==1.3
nbsphinx==0.2.11
gnumpy==0.2
smart-open==1.3.5
hdfs==2.0.13
gensim==0.13.3
pyshp==1.2.10
ImageHash==3.1
ggplot==0.11.5
heamy==0.0.6
orderedmultidict==0.7.11
vega==0.4.4
trueskill==0.4.4
pudb==2016.2
tensorflow==0.12.0rc0
hyperopt==0.1
humanize==0.5.1
missingno==0.3.2
pymc3==3.0rc4
PyWavelets==0.5.1
stop-words==2015.2.23.1
xarray==0.8.2
joblib==0.10.3
mplleaflet==0.0.5
tflearn==0.2.1
Keras==1.1.2
matplotlib-venn==0.11.4
altair==1.2.0
dora==0.0.2
hep-ml==0.4.0
h2o==3.10.0.10
tabulate==0.7.7
nolearn==0.6.0
xgboost==0.6a2
s2sphere==0.2.4
pymongo==3.4.0
langid==1.1.6
husl==4.0.3
imbalanced-learn==0.1.8
PyBrain==0.3
sacred==0.6.10
gpxpy==1.1.2
ml-metrics==0.1.4
seaborn==0.7.1
Geohash==1.0
geopy==1.11.0
pandas-profiling==1.3.0
mpld3==0.3
haversine==0.4.5
packaging==16.8
Delorean==0.6.0
tqdm==4.10.0
future==0.16.0
fitter==1.0.8
CommonMark==0.5.4
Theano==0.8.2
docopt==0.6.2
mxnet==0.5a3
brewer2mpl==1.4.1
SexMachine==0.1.1
TPOT==0.6.7
chainer=1.18.0
